header.app-header {
    display: none;
    position: sticky;
    z-index: 900;
    height: $headerHeight;
    background-color: $clr-bg-primary;

    @include main-for-narrow-layout {
        display: inherit;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: $headerHeight;
        z-index: -1;
        background-color: $clr-bg-primary;
        box-shadow: 0px 1px rgba(0, 0, 0, 0.08);
        transition: transform 200ms ease;
        transform: initial;
    }

    &.secondary-layout.expanded::after {
        height: 72px;
    }

    &:has(.search-bar-form)::after {
        transform: scaleY(3.4);
        box-shadow: none;
        transition: transform 200ms ease;
    }

    &.sticky {
        top: 0;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: $headerHeight;

        .nav-container {
            display: flex;
            justify-content: flex-end;
            flex: 0 0 150px;
        }
    }
}