.host-order-preview {
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto 1fr auto;
    padding: 24px;
    align-items: start;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    margin-block-start: 15px;
    border-radius: 10px;



    *:not(button) {
        cursor: default;
    }

    @include main-for-narrow-layout {
        grid-template-columns: 1fr 2fr 2fr 4fr 1fr 172px;
        grid-template-rows: auto;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .status {
        font-family: cereal-md;
        grid-column: -2/-1;
        justify-self: end;

        @include main-for-narrow-layout {
            grid-column: 1;
            grid-row: 1;
            justify-self: start;
            width: 62px;

        }
    }

    .buyer {
        display: grid;
        gap: 0 10px;
        margin-block-end: 6px;
        justify-content: start;

        @include main-for-narrow-layout {
            grid-column: 2;
            margin-block-end: 0;
        }

        img {
            grid-row: 1/3;
            grid-column: 1/2;
        }

        .guest-name {
            font-weight: 600;
            grid-column: 2;
        }

        .guests {
            color: $clr-txt-secondary;
            grid-column: 2;

        }
    }


    .check-in {
        grid-area: 2/1/3/3;
        font-size: .9em;

        @include main-for-narrow-layout {
            grid-column: 3;
            grid-row: 1;

        }
    }



    .stay-name {
        grid-column: 1/3;

        @include main-for-narrow-layout {
            grid-column: 4;

        }
    }

    .price {
        grid-column: 1/3;

        // text-overflow: ellipsis;
        @include main-for-narrow-layout {
            grid-column: 5/6;
        }

        span {
            font-size: .8em;
            color: $clr-txt-secondary;
            display: inline;
        }
    }

    .action-btns {
        justify-self: end;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 5px;
        grid-area: -2/-2/-1/-1;
        // flex-direction: column;

        @include main-for-narrow-layout {
            // grid-row: 1;
        }

        .action {
            border: 1px solid $clr-border;
            width: fit-content;
            padding: 14px;
            border-radius: 10px;
            font-family: cereal-md;
            color: $clr-bg-primary;


            &.btn-approve {
                background-color: #008489;

                &:hover {
                    background-color: darken($color: #008489, $amount: 5);
                }
            }

            &.btn-decline {
                background-color: #FF5A5F;

                &:hover {
                    background-color: darken($color: #FF5A5F, $amount: 10);
                }
            }
        }
    }

}