.imgs-container {
    .stay-img {
        border-radius: 5%;
        object-fit: cover;
        aspect-ratio: 1 / 1;
    }

    .slick-dots {
        position: absolute;
        bottom: 1px;
        transform: translateY(-50%);
        z-index: 1;

        li {
            margin-inline: 0;
            padding: 0;
            width: 11px;

            button {
                margin: 0;
                padding: 0;

                &::before {
                    color: rgb(255, 255, 255);
                    opacity: .5;
                }
            }

            &.slick-active {
                button {
                    &::before {
                        color: white;
                        opacity: 1;

                    }
                }
            }
        }
    }

    .slick-prev,
    .slick-next {
        display: none !important;
    }

    .new-button {
        height: 30px;
        width: 30px;
        background-color: rgb(255, 255, 255);
        opacity: .9;
        border: 1px solid $clr-txt-secondary;
        border-radius: 50%;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        z-index: 1;
        place-items: center;
        transition: .3s;
        display: none;

        &:hover {
            opacity: 1;
            height: 31px;
            width: 31px;
        }

        &.prev {
            left: 10px;
        }

        &.next {
            right: 10px;
        }
    }

    &:hover .new-button {
        display: grid;
    }
}