.imgs-container {
    .stay-img {
        border-radius: 5%;
        object-fit: cover;
        aspect-ratio: 20 / 19;
    }

    .slick-dots {
        position: absolute;
        bottom: 1px;
        transform: translateY(-50%);
        z-index: 1;

        li {
            margin-inline: 0;
            padding: 0;
            width: 11px;

            button {
                margin: 0;
                padding: 0;

                &::before {
                    color: rgb(255, 255, 255);
                    opacity: .5;
                }
            }

            &.slick-active {
                button {
                    &::before {
                        color: white;
                        opacity: 1;

                    }
                }
            }
        }
    }

    .slick-prev,
    .slick-next {
        display: none !important;
    }

    .new-button {
        position: absolute;
        top: 43%;
        height: 30px;
        width: 30px;
        opacity: .9;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 0 0 1px transparent, 0 0 0 4px transparent, 0 2px 4px rgba(0, 0, 0, 0.18);
        border-radius: 50%;
        transition: transform .25s;
        display: none;

        &:hover {
            opacity: 1;
            transform: scale(1.04);
        }

        &.prev {
            left: 10px;
        }

        &.next {
            right: 10px;
        }
    }

    &:hover {
        .new-button {
            display: flex;
        }
    }
}