.logo {
    display: flex;
    flex: 0 0 150px;

    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7px;
        cursor: pointer;

        svg {
            color: $clr-brand;
        }

        h1 {
            font-size: 22px;
            font-weight: 700;
            color: $clr-brand;
            line-height: lh(22px, 22px);
        }
    }
}