.logo-container {
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
    height: 80px;

    svg {
        color: $clr-brand;
    }

    h1 {
        font-size: 22px;
        font-weight: 700;
        color: $clr-brand;
        line-height: lh(22px, 22px);
    }
}