.mobile-search-bar-form {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background-color: $clr-bg-secondary;
    height: 100vh;
    padding: 15px 12px;

    .tab {
        background-color: $clr-bg-primary;
        padding-bottom: 12px;
        border-radius: 24px;
        box-shadow: 0 0 0 1px rgb(0 0 0/4%), 0 6px 20px rgb(0 0 0/20%);
        padding: 24px;
        margin-bottom: 12px;
    }

    .search {
        padding-top: 16px;

        label {
            display: flex;
            padding: 0 20px;
            height: 60px;
            border-radius: 12px;
            border: 1px solid $clr-border2;
            align-items: center;

            svg {
                display: block;
                fill: none;
                height: 16px;
                width: 16px;
                stroke: currentcolor;
                stroke-width: 4;
                overflow: visible;

                margin-right: 10px;

            }

            input {
                border: none;
            }
        }
    }

    .region-options {
        display: grid;
        grid-template-columns: repeat(6, min-content);
        column-gap: 5px;
        row-gap: 24px;
        overflow-x: scroll;
        
        margin-top: 12px;

        .region {
            display: flex;
            flex-direction: column;
            padding: 4px;
            height: 158px;
            width: 132px;

            .btn-region {
                width: 120px;
                text-align: center;
                border: 1px solid black;
                padding: 0;
                margin: 0;
                background-color: $clr-bg-primary;
                border-color: $clr-border;
                border-radius: 12px;
                transition-property: transform, background-color, border-color;
                transition-duration: 0.15s;
                overflow: hidden;
                transition-timing-function: cubic-bezier(0.2, 0, 0, 1);

                &:active {
                    border-color: black;
                    transform: scale(0.925);
                }

                &:hover {
                    border-color: black;
                }

                img {
                    display: flex;
                }
            }

            .region-name {
                margin: 8px 2px 0 2px;
            }
        }


    }

}