.mobile-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: $clr-bg-primary;
    border-top: 1px solid $clr-border;
    padding-bottom: 5px;

    .footer-nav {
        height: 65px;
        max-width: 560px;
        margin: 0 auto;

        .footer-nav-link {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex: 1 1 0px;
            padding-inline-start: 2px;
            color: $clr-txt-secondary;

            &.active {
                font-family: cereal-md, roboto, sans-serif;
                color: $clr-brand;
            }

            .route-label {
                font-size: rem(10px);
            }

            .label-icon {
                margin-block-end: 2px;
            }

            .notification-dot {
                position: absolute;
                top: 7px;
                right: 16px;
                background-color: $clr-brand;
                color: white;
                border-radius: 50%;
                width: 15px;
                height: 15px;
                font-family: cereal-md;
                font-size: 10px;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1)
            }
        }
    }

    @include main-for-narrow-layout {
        display: none;
    }
}