.nav-hamburger {
    button {
        display: flex;
        align-items: center;
        padding: 7px 8px 7px 14px;
        background-color: $clr-bg-primary;
        border: 1px solid $clr-border;
        border-radius: 30px;
        transition: box-shadow 0.2s cubic-bezier(0.2, 0, 0, 1);
        cursor: pointer;

        &:hover {
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
        }

        .hamburger {}

        .avatar {
            margin-left: 14px;
            color: $clr-txt-secondary;
            flex: 0 0 32px;
        }
    }
}