.reservation-preview{
    grid-template-columns: repeat(7,1fr);
    .action-btns{
        display: flex;
        justify-content: space-around;
        .action{
            border: 1px solid $clr-border;
            width: fit-content;
            padding: 2px 10px;
            &:hover {
                background-color: $clr-bg-secondary;
            }
    
            &.approve{
                color: green;
            }
    
            &.decline{
                color: red;
            }

        }
    }
    
}