.search-bar-form {
    display: flex;
    justify-content: center;
    padding-block-end: 30px;

    .form-container {
        position: relative;
        transform: scale(0.43, 0.74) translateY(-100px);
        background-color: $clr-bg-tertiary;

        &.expanded {
            transform: translateY(0);
            transition: transform 250ms ease;
        }

        display: flex;
        flex: 1 1 0;
        height: 66px;
        max-width: 850px;
        text-align: left;
        border: 1px solid $clr-border;
        border-radius: 32px;

        .label {
            font-family: cereal-bold, roboto, sans-serif;
            font-size: 0.75rem;
            line-height: 1rem;
            letter-spacing: 0.04em;
            padding-bottom: 2px;
        }

        .sub-label {
            color: $clr-txt-primary;
        }

        .input-destination {
            flex: 1.25 0 0;

            input {
                border: none;
                background-color: inherit;
                font-size: inherit;
            }

            &:hover {
                +.form-seperator {
                    opacity: 0;
                }
            }
        }

        .input-dates {
            display: flex;
            flex: 1 0 0;
            justify-content: center;
            align-items: center;

            button {
                position: relative;

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    width: 1px;
                    height: 32px;
                    background-color: $clr-bg-tertiary;
                    display: none;
                }

                &::before {
                    left: -1px;
                    top: 50%;
                    transform: translateY(-50%);
                }

                &::after {
                    right: -1px;
                    top: 50%;
                    transform: translateY(-50%);
                }

                &:hover {

                    &::before,
                    &::after {
                        display: block;
                    }
                }
            }
        }

        .input-guests-search {
            flex: 1 0;
            justify-content: space-between;
            align-items: center;
            border-radius: 32px;

            &.active {
                outline: 1px solid $clr-bg-primary;
                border-radius: 32px;
                background-color: $clr-bg-primary;
                background-clip: padding-box;
                box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);

                &:hover,
                button:hover {
                    background-color: $clr-bg-primary;
                }
            }

            .btn-input {
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    left: -1px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 1px;
                    height: 32px;
                    background-color: $clr-bg-primary;
                    display: none;
                }

                &:hover {
                    &::before {
                        display: block;
                    }
                }
            }

            &:hover {
                background-color: $clr-bg-tertiary;
            }
        }

        .form-seperator {
            align-self: center;
            flex: 0 0 0;
            height: 32px;
            border-right: 1px solid $clr-border;
        }

        button {
            text-align: left;

            &.btn-input {
                width: 100%;
                border: none;
                border-radius: 32px;
                padding: 14px 24px;

                &.dest {
                    padding: 14px 32px;
                }

                &:hover {
                    background-color: #ddd;
                }

                &.active {
                    outline: 1px solid $clr-bg-primary;
                    border-radius: 32px;
                    background-color: $clr-bg-primary;
                    background-clip: padding-box;
                    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
                }
            }

            &.btn-search {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 48px;
                margin: 7px;
                min-width: 48px;
                padding: 16px;
                border: transparent;
                border-radius: 2em;
                color: $clr-bg-primary;
                background-color: $clr-brand;
            }
        }
    }
}