.search-form-options {
    transform: scale(0.1, 0.1) translateY(-500px);

    &.expanded {
        transform: translateY(0);
        transition: transform .3s;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;

    button {
        height: 40px;
        padding: 10px 16px;
        margin: 0;
        font-size: rem(16px);
        border: none;
    }
}