.search-bar-form {
    display: flex;
    justify-content: center;

    .form-container {

        display: flex;

        border: 1px solid $clr-border;
        border-radius: 32px;
        // background-color: $clr-exp-search-bar;
        flex: 1 1 0%;
        max-width: 850px;
        justify-self: center;

        .form-seperator {
            border-right: 1px solid $clr-border;
            height: 32px;
            align-self: center
        }

        span.label {
            font-size: 0.75rem;
            line-height: 1rem;
            font-weight: 800;
            padding-bottom: 2px;
        }

        span.input {
            border: 0;
            margin: 0;
            padding: 0;
            background: none;
            font-size: 0.875rem;
            line-height: 1.125rem;
            text-overflow: ellipsis;
            display: block;
            width: 100%;
            color: $clr-txt-secondary;
            font-weight: 400;

        }

        .choose {
            border: 1px solid transparent;
            border-radius: 32px;

            &:hover {
                background-color: $clr-exp-search-bar;
            }
        }

        .destination {
            padding: 14px 32px;
        }

        .input-dates {
            display: flex;
            flex: 1 0 0%, 2 0 0%;
            min-width: 0;

            .check-in,
            .check-out {
                padding: 14px 24px;
            }
        }

        .input-guests-search {
            // flex: 1 0 0%, 0.95 0 auto;
            display: flex;
            align-items: center;
            min-width: 0;
            position: relative;
            width: 100%, initial;

            .guests {
                border: none;
                padding: 14px 24px;
            }

            .search {
                // padding-right: 9px;
                padding: 14px 16px;
                border-radius: 24px;
                position: relative;
                transition: 0.2s opacity cubic-bezier(0.2, 0, 0, 1);



                &:hover {
                    background: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
                    will-change: opacity;


                }

                &>* {
                    font-size: 1rem;
                    font-weight: 600;

                }
            }
        }
    }
}