.stay-search-bar {
    align-items: center;
    max-height: 48px;
    padding-inline-start: 8px;
    border: 1px solid $clr-border;
    border-radius: 2em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .078), 0 4px 12px rgba(0, 0, 0, .051);

    .btn-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    span.seperator {
        height: 24px;
        border-left: 1px solid $clr-border;
    }

    button {
        &.btn-search-bar {
            margin: -1px;
            height: 46px;
            padding: 12px 16px;
            text-align: center;
            background: transparent;
            border: 1px solid transparent;
            font-family: cereal-md, roboto, sans-serif;

            &.anywhere {
                min-width: 80px;
                text-align: left;
            }

            &.add-guests {
                font-family: inherit;
                color: $clr-txt-secondary;

                &.bold {
                    color: $clr-txt-primary;
                    font-family: cereal-md, roboto, sans-serif;
                }
            }
        }

        &.search {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $clr-brand;
            border: transparent;
            border-radius: 2em;
            color: $clr-bg-primary;
            margin: 7px 7px 7px 0;
            min-width: 32px;
            padding: 10px;

            svg {
                height: 12px;
                width: 12px;
            }
        }
    }
}