.stay-preview {
    position: relative;

    .stay-heart {
        position: absolute;
        top: 14px;
        right: 16px;
        height: 24px;
        width: 24px;
        stroke: white;
        stroke-width: 2;
        fill: rgba(0, 0, 0, 0.5)
    }

    .stay-info {
        margin-block-start: 6px;
        display: grid;
        gap: 2px 8px;
        font-size: rem(15px);
        line-height: 1.1875rem;

        .stay-loc {
            text-overflow: ellipsis;
            grid-row: 1;
            font-family: cereal-md, sans-serif;
        }

        .stay-name {
            color: $clr-txt-secondary;
            max-height: 19px;
            overflow: hidden;
        }

        .review-rate {
            grid-row: 1;
            justify-self: end;
        }

        .stay-dates {
            grid-row: 3;
            color: $clr-txt-secondary;
        }

        .stay-price {
            font-family: cereal-md;
            grid-row: 4;
            margin-top: 6px;

            .night {
                font-family: cereal-light;
            }
        }
    }
}