.stay-preview {
    .stay-img {
        border-radius: 5%;
        object-fit: cover; 
        aspect-ratio: 1 / 1; 
    }

    // display: grid;
    .stay-info {
        display: grid;

        .stay-loc {
            text-overflow: ellipsis;
            grid-row: 1;
        }

        .stay-rate {
            grid-row: 1;
            justify-self: end;
        }

        .stay-price {
            grid-row: 3;
        }
    }
}