.stay-preview {
    .stay-img {
        border-radius: 5%;
        object-fit: cover;
        aspect-ratio: 1 / 1;
    }

    .preview-info {
        display: grid;
        gap: 2px 8px;

        .preview-header {
            padding-top: 5px;
        }

        .stay-loc {
            text-overflow: ellipsis;
            grid-row: 1;
            font-weight: 600;
        }
        
        .stay-name {
            color: $clr-txt-secondary;
            margin-block-end: 5px;
        }

        .stay-price {
            font-weight: 600;

            .night {
                font-weight: 400;
            }
        }
    }
}