.stay-labels {
    // ::before {
    //     content: "";
    //     position: absolute;
    //     inset: 0px;
    //     transition: opacity 0.2s cubic-bezier(0.35, 0, 0.65, 1) 0s;
    //     opacity: 1;
    //     background: rgb(255, 255, 255);
    //     border: none;
    // }
    position: relative;

    .swiper {
        width: 100vw;
        margin: 0;
        height: fit-content;
        font-family: cereal-md, sans-serif;
        font-size: 12px;

        @include main-for-narrow-layout {
            width: 85vw;
            // width: 90vw;


        }

        .swiper-wrapper {
            // margin-left: 5px;
            position: relative;
            height: 74px;

            @include main-for-narrow-layout {
                height: 78px;
            }

            .swiper-slide {
                min-width: 56px;
                height: fit-content;
                max-width: fit-content;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 8px;
                padding: 4px 0;
                margin: 12px 0 10px;
                color: $clr-txt-secondary;
                position: relative;
                white-space: nowrap;
                cursor: pointer;

                @include main-for-narrow-layout {
                    padding: 4px 0 4px;
                }

                .label-img {
                    opacity: 0.65;
                }

                &:hover {
                    color: $clr-txt-primary;

                    .label-img {
                        opacity: 1;
                    }

                    &::after {
                        content: '';
                        background-color: $clr-border;
                        width: 100%;
                        height: 2px;
                        position: absolute;
                        bottom: -8px;
                        // top: calc(100% + 8px);
                        // top: calc(100% + 12px);

                    }
                }

                &.active {
                    color: $clr-txt-primary;
                    cursor: default;

                    .label-img {
                        opacity: 1;
                    }

                    &::after {
                        content: '';
                        width: 100%;
                        height: 2px;
                        position: absolute;
                        bottom: -8px;
                        // top: calc(100% + 8px);
                        background-color: $clr-txt-primary;
                    }
                }
            }
        }


        // }



    }

    .swiper-button-disabled {
        display: none;
        // background-color: transparent;

    }

    .bg {
        display: none;
        height: 77px;
        width: 80px;
        position: absolute;
        z-index: 10;

        @include main-for-narrow-layout {
            display: block;
        }

        &.next {
            right: 0;
            background-image: linear-gradient(to right, rgb(255 255 255/0), white 40px);
        }

        &.prev {
            left: 0;
            background-image: linear-gradient(to left, rgb(255 255 255/0), white 40px);

        }

        &:has(.swiper-button-disabled) {
            display: none;
        }

    }

    .swiper-button {
        height: 28px;
        width: 28px;
        background-color: rgb(255, 255, 255);
        border: 0.5px solid rgb(0 0 0/0.3);
        border-radius: 50%;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        z-index: 10;
        place-items: center;
        transition: .3s;
        display: grid;
        cursor: pointer;

        // &::before {
        //     content: '';
        //     height: 40px;
        //     width: 40px;
        //    background-color: pink;
        //     position: absolute;

        // }

        svg {
            display: block;
            fill: none;
            height: 12px;
            width: 12px;
            stroke: currentColor;
            stroke-width: 5.33333;
            overflow: visible;
        }

        &:hover {
            box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
            transform: translateY(-50%) scale(1.04);
        }
    }

    .image-swiper-button-prev {
        left: 5px;
    }

    .image-swiper-button-next {
        right: 5px;
    }

    .swiper-button-disabled {
        display: none;
    }

    .labels-border {
        display: none;
        position: absolute;
        bottom: 0;
        left: -100px;
        right: -100px;
        background-color: #dddddd73;
        height: 1px;
        box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px;

        @include main-for-narrow-layout {
            &.scrolling {
                display: block;
            }
        }
    }
}