.stay-labels {
    position: sticky;
    top: 6vh;
    z-index: 10;
    background: $clr2;

    .label-img {
        opacity: 0.65;
    }

    // .button-container {
    // height: 100%;
    // position: absolute;
    // width: 80px;
    // z-index: 10;

    // &.next {
    //     right: 0;
    //     background-image: linear-gradient(to right, rgb(255 255 255/0), white 40px);

    // }

    // &.prev {

    //     left: 0;
    //     background-image: linear-gradient(to left, rgb(255 255 255/0), white 40px);


    // }

    // &::before {
    //     content: '';
    //     display: block;
    //     width: 40px;
    //     // background-image: linear-gradient(to right, rgb(255 255 255/0), white 40px);

    // }

    .swiper-button {
        height: 28px;
        width: 28px;
        background-color: rgb(255, 255, 255);
        opacity: .9;
        border: 0.5px solid rgb(0 0 0/0.3);
        border-radius: 50%;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        z-index: 10;
        place-items: center;
        transition: .3s;
        display: grid;
        cursor: pointer;

        // &::before {
        //     content: '';
        //     height: 40px;
        //     width: 40px;
        //     background-color: pink;
        //     // position: absolute;
            
        // }

        svg {
            display: block;
            fill: none;
            height: 12px;
            width: 12px;
            stroke: currentColor;
            stroke-width: 5.33333;
            overflow: visible;
        }

        &:hover {
            box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
            transform: translateY(-50%) scale(1.04);
        }
    }

    // }

    .image-swiper-button-prev {
        left: 5px;
    }

    .image-swiper-button-next {
        right: 5px;
    }

    .swiper-button-disabled {
        display: none;
    }

    .mySwiper {
        // TODO: define width
        width: 90vw;

        height: fit-content;
        padding-block-start: 20px;
        font-family: cereal-md, sans-serif;
        font-size: 12px;

        .swiper-slide {
            min-width: 56px;
            max-width: fit-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;
            padding: 4px 0 4px;
            margin: 12px 0 10px;
            color: $clr-txt-secondary;
            position: relative;
            white-space: nowrap;

            &:hover {
                color: $clr-txt-primary;

                .label-img {
                    opacity: 1;
                }

                &::after {
                    content: '';
                    background-color: $clr-border;
                    width: 100%;
                    height: 2px;
                    position: absolute;
                    top: calc(100% + 8px);
                    // top: calc(100% + 12px);
                }
            }
        }
    }
}