.user-order-list {
    font-family: cereal-md;
    margin-block-start: 20px;

    .headline {
        font-size: 1.375rem;
        margin-block-start: 30px;

    }

    .trips{
        font-size: 1.625rem;
    }

    .previous-orders{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}