* {
    box-sizing: border-box;
}

html {
    font-family: cereal-light, roboto, sans-serif;
    color: $clr-txt-primary;
    scroll-behavior: smooth;
}

body {
    font-size: 0.875rem;
    margin: 0;
    background-color: $clr-bg-primary;
    line-height: 1.43;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: cereal-md, roboto, sans-serif;
    font-weight: inherit;
    margin: 0;
}

section,
main,
footer {}

img {
    width: 100%;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
    color: inherit;

    &:visited {
        color: inherit;
    }
}

button {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    border-color: transparent;
    cursor: pointer;

    &.btn {

        &.scale {
            transition-property: transform, background-color, border-color;
            transition-duration: 0.15s;
            overflow: hidden;
            transition-timing-function: cubic-bezier(0.2, 0, 0, 1);

            &:active {
                border-color: black;
                transform: scale(0.925);
            }
        }

        &.underline {
            text-decoration: underline;
            font-family: cereal-md;
        }

        &.grey-bg {
            align-items: center;
            border-radius: 8px;
            padding: 8px;

            &:hover {
                background-color: $clr-bg-secondary;
            }
        }
    }
}