* {
    box-sizing: border-box;
}

// ::selection {
//     background-color: $clr-brand;
//     color: $clr-txt-primary;
// }

html {
    font-family: cereal-light, roboto, sans-serif;
    color: $clr-txt-primary;
    scroll-behavior: smooth;
}

body {
    font-size: 0.875rem;
    margin: 0;
    background-color: $clr2;
    line-height: 1.43;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: cereal-md, roboto, sans-serif;
    font-weight: 400;
    margin: 0;
}

section,
main,
footer {}

img {
    width: 100%;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
    color: inherit;

    &:visited {
        color: inherit;
    }
}

button {
    font-size: inherit;
    font-family: inherit;
    background-color: inherit;
    cursor: pointer;
}

.btn {
    // display: inline-block;
    // margin: 0;
    // padding: 0;
    // font-family: inherit;
    // font-size: inherit;
    // font-weight: 600;
    // line-height: lh(18px, 14px);
    // text-align: center;
    // text-decoration: underline;
    // color: $clr-txt-primary;
    // background-color: transparent;
    // border-style: none;
    // border-bottom-color: $clr-txt-primary;
    // border-radius: 8px;
    // cursor: pointer;
}