// Font Sizes
.fs12 {
    font-size: rem(12px);
}

.fs14 {
    font-size: rem(14px);
}

.fs18 {
    font-size: rem(18px);
}

.fs20 {
    font-size: rem(20px);
}

.fs24 {
    font-size: rem(24px);
}

.fs28 {
    font-size: rem(28px);
}

.fs30 {
    font-size: rem(30px);
}

// flex helpers
.flex {

    display: flex;

    >*.full {
        flex: 1;
    }

    &.column {
        flex-direction: column;
    }

    &.justify-center {
        justify-content: center;
    }

    &.align-center {
        align-items: center;
    }

    &.space-between {
        justify-content: space-between
    }

    &.gap24 {
        gap: 24px
    }
}

// Media helpers

.square-ratio {
    @include aspect-ratio(1, 1);
}

.video-ratio {
    @include aspect-ratio(16, 9);
}

.portrait-ratio {
    @include aspect-ratio(9, 16);
}

/* list helpers */

.clean-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

// border helpers
.border-bottom {
    border-bottom: 1px solid $clr-border;
}

// padding helpers
.pt24 {
    padding-top: 24px;
}

.pb24 {
    padding-bottom: 24px;
}

.pb2 {
    padding-bottom: 2px;
}

.ptb24 {
    padding: 24px 0;
}

.pt32 {
    padding-top: 32px;
}

.pb32 {
    padding-bottom: 32px;
}

.ptb32 {
    padding: 32px 0;
}

.pt48 {
    padding-top: 48px;
}

.pb48 {
    padding-bottom: 48px;
}

.ptb48 {
    padding: 48px 0;
}

// img helpers
.w24 {
    width: 24px;
}

.w40 {
    width: 40px;
}

.w56 {
    width: 56px;
}