.main-layout {
    display: grid;
    grid-template-columns: $layoutPadding 1fr $layoutPadding;

    >* {
        grid-column: 2;

        &.full {
            grid-column: 1 /-1;
        }
    }

    @include main-for-narrow-layout {
        grid-template-columns: 40px 1fr 40px
    }

    @include main-for-normal-layout {
        grid-template-columns: 80px 1fr 80px;
    }

    @include main-for-wide-layout {
        grid-template-columns: 1fr minmax(auto, 2360px) 1fr;
    }
}

.secondary-layout {
    display: grid;
    grid-template-columns: $layoutPadding 1fr $layoutPadding;

    >* {
        grid-column: 2;

        &.full {
            grid-column: 1 / -1;
        }
    }

    @include secondary-for-narrow-layout {
        grid-template-columns: 40px 1fr 40px;
    }

    @include secondary-for-normal-layout {
        grid-template-columns: 80px 1fr 80px;
    }

    @include secondary-for-wide-layout {
        grid-template-columns: 1fr minmax(auto, 1120px) 1fr;
    }
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}