.add-stay {
    padding-top: 70px;

    @include main-for-narrow-layout {
        padding-top: 0;
    }

    display: flex;
    flex-direction: column;
    gap: 2em;
    // text-align: center;

    & input {
        border-radius: .5em;
    }

    & .imgs-container {
        display: flex;
        gap: 1em;

        & img {
            width: 100px;
        }
    }
}