.add-stay {
    display: flex;
    flex-direction: column;
    gap: 2em;
    // text-align: center;

    & input {
        border-radius: .5em;
    }

    & .imgs-container {
        display: flex;
        gap: 1em;

        & img {
            width: 100px;
        }
    }
}


