.stay-details {
    .details-header {
        display: flex;
        justify-content: space-between;
        padding-top: 24px;
        flex-direction: column;

        h1 {
            font-size: rem(26px);
            line-height: lh(30px, 26px);
        }

        .header-actions {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            margin-top: 4px;

            .reviews-loc {
                display: flex;
                flex-wrap: wrap;
                height: 24px;
                gap: 6px;
            }

            .share-save {
                display: flex;
                justify-content: flex-end;

                .btn {
                    align-items: center;
                    gap: 8px;
                    padding: 8px;

                    &.btn-share {
                        margin-right: 4px;
                    }

                    &.btn-save {
                        margin-right: -6px;
                    }
                }
            }
        }
    }

    .img-container {
        position: relative;
        padding-top: 24px;

        .img-grid {
            display: grid;
            grid-template-columns: 50% 1fr 1fr;
            grid-template-rows: 50% 1fr;
            gap: 8px;
            grid-template-areas:
                'img1 . . '
                'img1 . . ';

            align-items: stretch;
            max-height: calc(60vh - 64px);
            aspect-ratio: 2 / 1;
            width: 100%;

            img {
                object-fit: cover;
                cursor: pointer;

                transition: opacity 0.1s;

                &:hover {
                    opacity: 0.8
                }
            }

            img:first-child {
                grid-area: img1;
                border-bottom-left-radius: 12px;
                border-top-left-radius: 12px;
            }

            img:nth-child(3) {
                border-top-right-radius: 12px;
            }

            img:nth-child(5) {
                border-bottom-right-radius: 12px;
            }
        }

        .btn {
            position: absolute;
            bottom: em(24px, 14px);
            right: em(24px, 14px);

            margin: 0;
            padding: 7px 15px;
            text-decoration: none;
            font-family: cereal-md, roboto, sans-serif;
            color: $clr-txt-primary;
            background-color: $clr-bg-primary;
            border: 1px solid $clr-txt-primary;
            border-radius: em(8px, 14px);

            .btn-inner-container {
                display: flex;
                align-items: center;
                gap: 8px;
            }
        }
    }



    .full-details-container {
        display: flex;
        justify-content: space-between;
        padding-block-start: em(32px, 14px);

        .details-description {
            width: 58.3%;

            .icon {
                width: 40px;
            }

            h1 {
                font-size: rem(22px);
                line-height: lh(26px, 22px)
            }

            p {
                font-size: 1rem;
            }

            .short-summary {
                h1 {
                    margin-bottom: 8px;
                }

                ul {
                    font-size: rem(16px);
                    line-height: lh(20px, 16px);
                }

                span.seperator {
                    display: inline-block;
                    text-align: center;
                    width: em(10.75px, 14px);
                }

                .small-img-container {
                    width: 65px;
                    height: 56px;
                    margin-left: 16px;
                }

                img {
                    border-radius: 50%;
                }
            }

            .selected-amenities {
                .selected-amenity-container {
                    img {
                        align-self: flex-start;
                    }

                    h3 {
                        font-size: rem(16px);
                        line-height: lh(20px, 16px);
                        margin-block-end: 4px;
                    }

                    span {
                        color: $clr-txt-secondary;
                    }
                }
            }

            .full-summary {
                p {
                    line-height: lh(24px, 16px);
                }
            }

            .amenities {
                .amenities-container {
                    flex-wrap: wrap;
                    max-height: 200px;

                    .amenity-container {
                        font-size: rem(16px);
                        gap: 20px;
                        padding-block-end: 16px;
                        line-height: 20px;
                    }

                }

                .show-all-amenities {
                    margin-block-start: 24px;
                }
            }

            .calendar {
                .cmp {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 400px;
                    font-size: 100px;
                }
            }
        }
    }

    .reviews-container {
        // position: absolute;
        // right: 0;
        // left: 0;
        // padding-left: 80px;
        // border-top: 1px solid $clr-border;

        .reviews-header {
            margin-block-end: 32px;
            font-family: cereal-md, roboto, sans-serif;
            font-size: rem(22px);

            .review-rate {
                svg {
                    width: 19px;
                    margin-top: 2px;
                }
            }

            .seperator {
                margin: 0 6px;
            }
        }

        .reviews-preview-container {
            flex-wrap: wrap;

            .review-preview {
                width: 41.6667%;
                margin-inline-end: 8.333%;
                padding: 0 8px;

                .preview-header {
                    gap: 12px;
                    margin-block-end: 16px;
                }

                .review-body {
                    .review-txt {
                        max-height: 72px;
                        overflow: hidden;
                        font-size: 1rem;
                        line-height: lh(24px, 16px);
                    }

                    .btn.show-more {
                        margin-block-start: 8px;
                    }
                }
            }
        }
    }

    .map-location {
        padding: 48px 0;

        .stay-address {
            margin-top: 24px;

            h3 {
                margin-bottom: 16px;
            }

            .stay-location-desc {
                font-size: 1rem;
                line-height: lh(24px, 16px);
            }
        }
    }
}

.all-photos {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 450px;
    background-color: $clr-bg-primary;
    z-index: 999;
}