/* Media queries Breakpoint mixins */

@mixin main-for-mobile-layout {
    @media (max-width: $main-layout-narrow-breakpoint) {
        @content;
    }
}

@mixin main-for-narrow-layout {
    @media (min-width: $main-layout-narrow-breakpoint) {
        @content;
    }
}

@mixin main-for-normal-layout {
    @media (min-width: $main-layout-normal-breakpoint) {
        @content;
    }
}

@mixin main-for-wide-layout {
    @media (min-width: $main-layout-wide-breakpoint) {
        @content;
    }
}

@mixin secondary-for-mobile-layout {
    @media (max-width: $secondary-layout-narrow-breakpoint) {
        @content;
    }
}

@mixin secondary-for-narrow-layout {
    @media (min-width: $secondary-layout-narrow-breakpoint) {
        @content;
    }
}

@mixin secondary-for-normal-layout {
    @media (min-width: $secondary-layout-normal-breakpoint) {
        @content;
    }
}

@mixin secondary-for-wide-layout {
    @media (min-width: $secondary-layout-wide-breakpoint) {
        @content;
    }
}

/* Media  Mixins */
@mixin aspect-ratio($width, $height) {
    position: relative;
    overflow: hidden;

    &::before {
        display: block;
        content: "";
        width: 100%;
        padding-top: calc(($height / $width) * 100%);
    }

    >* {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    >img {
        height: 100%;
        object-fit: cover;
    }
}

// Mixin for removing hover efects on iphone screen
@mixin hover-supported {
    @media not all and (pointer: coarse) {
        &:hover {
            @content;
        }
    }
}

@mixin modal-background{
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 20;
}

@mixin modal{
    position: absolute;
    padding: 14px 28px;
    background-color: $clr-bg-primary;
    box-shadow: 0 8px 28px rgba(0, 0, 0, 0.28);
    max-width: 780px;
    min-width: 600px;
    z-index: 21;
    border-radius: 12px;
    overflow: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}