@font-face {
    font-family: roboto;
    src: url(../../../../public/assets/fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: circular-md;
    src: url(../../../../public/assets/fonts/circular/CircularStd-Medium.otf);
}

@font-face {
    font-family: airbnb-cereal-md;
    src: url(../../../../public/assets/fonts/airbnb-cereal/AirbnbCereal_W_Md.otf);
}