// Colors
$clr1: #ff385c;
$clr2: #ffffff;
$clr3: #f7f7f7;
$clr4: #dddddd;
$clr5: #717171;
$clr6: #222222;
$clr7: #000000;


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 744px;
$normal-breakpoint: 1440px;