// Colors
$clr1: #ff385c;
$clr2: #ffffff;
$clr3: #f7f7f7;
$clr4: #dddddd;
$clr5: #717171;
$clr6: #222222;
$clr7: #000000;
$clr8: rgb(34, 34, 34);

// LAYOUT
$layoutPadding: 24px;

// Breakpoints
$narrow-breakpoint: 744px;
$normal-breakpoint: 1440px;
$wide-breakpoint: 2520px;