// Colors
$clr-brand: #ff385c;
$clr-txt-primary: #222222;
$clr-txt-secondary: #717171;
$clr-border: #dddddd;
$clr-border2: #b0b0b0;
$clr2: #ffffff;
$clr3: #f7f7f7;
$clr7: #000000;
$clr8: rgb(34, 34, 34);
$clr9: rgb(221, 221, 221);
$clr-exp-search-bar: rgb(235, 235, 235);
// LAYOUT
$layoutPadding: 24px;

// Breakpoints
// MAIN
$main-layout-narrow-breakpoint: 744px;
$main-layout-normal-breakpoint: 1440px;
$main-layout-wide-breakpoint: 2550px;

// DETAILS
$details-layout-narrow-breakpoint: 744px;
$details-layout-normal-breakpoint: 1128px;
$details-layout-wide-breakpoint: 1300px;