.date-picker-modal {
    position: absolute;
    top: 52px;
    right: -8.5px;

    width: 660px;
    padding: 24px 32px 16px;

    border: 1px solid rgb(226, 226, 226);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px 0px;
    border-radius: 16px;
    background-color: $clr-bg-primary;

    .header {
        display: flex;
        justify-content: space-between;
        padding: 0 0 16px;

        .side-header {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            span {
                color: $clr-txt-secondary;
            }
        }
    }

    .day-picker {
        padding-block-start: 22px;
    }

    .reset-close-btns {
        float: right;
        padding-top: 20px;
    }

    &.form-layout {
        top: 100%;
        right: 0;
        width: 100%;
        margin-top: 12px;
        padding-bottom: 46px;
        border: none;
        border-radius: 32px;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 8px 16px rgba(0, 0, 0, 0.15);

        .header,
        .reset-close-btns {
            display: none;
        }

        .day-picker {

            .rdp-months {
                gap: 65px;
            }

            .rdp-month {
                margin: 0;
                padding: 0 27px;
            }
        }
    }
}