.date-picker-preview {
    min-width: 320px;
    outline: 2px solid black;
    border-radius: 8px;

    .check-in,
    .checkout {
        position: relative;
        flex: 1 1 0%;

        span:first-child {
            position: absolute;
            top: 12px;
            left: 12px;
            right: 12px;
            font-family: cereal-bold;
            font-size: 0.625rem;
        }

        span:nth-child(2) {
            min-height: 56px;
            padding: 26px 12px 10px;
            font-size: 0.875rem;

            &.add-date {
                color: $clr-txt-secondary;
            }
        }
    }

    .checkout {
        border-left: 1px solid $clr-border2;
    }
}