.guest-select {
    position: relative;
    padding: 26px 36px 10px 12px;

    span:first-child {
        position: absolute;
        top: 12px;
        left: 12px;
        right: 12px;
        font-family: cereal-bold;
        font-size: 0.625rem;
    }

    span:nth-child(2) {
        min-height: 56px;
        font-size: 0.875rem;
    }

    .arrow {
        position: absolute;
        right: 0px;
        top: 20px;

        max-width: 50%;
        min-width: 36px;

        cursor: pointer;
    }
}