.guest-counter {
    width: 104px;
    height: 32px;
    font-size: rem(16px);

    .btn-counter {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        margin: 0;
        text-align: center;
        color: $clr-txt-secondary;
        border: 1px solid $clr-border2;
        background: $clr-bg-primary;
        border-radius: 50%;

        &:hover {
            color: black;
            border-color: black;
        }

        &:disabled {
            color: $clr-border;
            border: 1px solid $clr-border;
            cursor: not-allowed;
        }
    }
}