* {
    box-sizing: border-box;
}

// ::selection {
//     background-color: $clr-brand;
//     color: $clr-txt-primary;
// }

html {
    font-family: roboto;
    color: $clr-txt-primary;
}

body {
    font-size: rem(14px);
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: roboto;
    margin: 0 0 0.6em;
    line-height: 1;
}

section, main, footer {
    
}

img {
    width: 100%;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

