.review-rate {
    display: flex;
    align-items: center;

    span {
        margin-inline-start: 4px;
    }

    &.bold {
        font-family: cereal-md;

        :first-child {
            font-size: 16px;
        }
    }
}