// Colors
$clr-brand: #ff385c;
$clr2: #ffffff;
$clr3: #f7f7f7;
$clr-border: #dddddd;
$clr-txt-secondary: #717171;
$clr-txt-primary: #222222;
$clr7: #000000;


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 744px;
$normal-breakpoint: 1440px;